In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('input_file.txt', sep=' ', header=None)
df.columns = ['Command', 'Iterator']

In [9]:
df['Visited'] = 0

In [10]:
df.head()

  Command  Iterator  Visited
0     nop       116        0
1     acc        12        0
2     acc        -8        0
3     acc        34        0
4     jmp       485        0

In [11]:
def cycle_through(frame, accum, row=None):
    if not row:
        x = 0
    else:
        x = row
    if df.loc[x, 'Visited'] == 1:
        return accum
    else:
        if frame.loc[x, 'Command'] == 'nop':
            frame.loc[x, 'Visited'] = 1
            return cycle_through(frame, accum, x+1)
        elif frame.loc[x, 'Command'] == 'acc':
            y = accum + frame.loc[x, 'Iterator']
            frame.loc[x, 'Visited'] = 1
            return cycle_through(frame, y, x+1)
        else:
            frame.loc[x, 'Visited'] = 1
            new_row = frame.loc[x, 'Iterator']
            return cycle_through(frame, accum, x + new_row)

In [12]:
print(cycle_through(df, 0))

1832

In [16]:
df_final = df

In [21]:
df_final.iloc[-1, 2] = -1

Command     jmp
Iterator      1
Visited       5
Name: 625, dtype: object

In [ ]:
def cycle_through(frame, accum, row=None):
    if not row:
        x = 0
    else:
        x = row
    if df.loc[x, 'Visited'] == -1:
        return accum
    else:
        if frame.loc[x, 'Command'] == 'nop':
            frame.loc[x, 'Visited'] = 1
            return cycle_through(frame, accum, x+1)
        elif frame.loc[x, 'Command'] == 'acc':
            y = accum + frame.loc[x, 'Iterator']
            frame.loc[x, 'Visited'] = 1
            return cycle_through(frame, y, x+1)
        else:
            frame.loc[x, 'Visited'] = 1
            new_row = frame.loc[x, 'Iterator']
            return cycle_through(frame, accum, x + new_row)